<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>com.example</groupId>
    <artifactId>demo222</artifactId>
    <version>0.0.1-SNAPSHOT</version>
    <packaging>jar</packaging>

    <name>demo</name>
    <description>Demo project for Spring Boot</description>

    <!--spring-3.1.2.RELEASE-->
    <!--spring-3.2.10.RELEASE-->
    <!--spring-3.1.3.RELEASE-->
    <!--spring-4.2.5.RELEASE-->
    <!--aop,asm,aspects,beans,context,context-support,core,expression,jdbc,jms,messaging,orm,oxm,test,transaction,tx,web,webmvc,websocket-->
    <!--(3.1.3):security-cas,security-config,-core,-crypto,-taglibs, -web-->

    <properties>
        <org.springsecurity.version>3.1.3.RELEASE</org.springsecurity.version>
    </properties>

    <dependencies>

        <dependency>
            <groupId>org.springframework.security</groupId>
            <artifactId>spring-security-cas</artifactId>
            <version>${org.springsecurity.version}</version>
        </dependency>

        <dependency>
            <groupId>org.springframework.security</groupId>
            <artifactId>spring-security-config</artifactId>
            <version>${org.springsecurity.version}</version>
        </dependency>

        <dependency>
            <groupId>org.springframework.security</groupId>
            <artifactId>spring-security-core</artifactId>
            <version>${org.springsecurity.version}</version>
        </dependency>

        <dependency>
            <groupId>org.springframework.security</groupId>
            <artifactId>spring-security-crypto</artifactId>
            <version>${org.springsecurity.version}</version>
        </dependency>

        <dependency>
            <groupId>org.springframework.security</groupId>
            <artifactId>spring-security-taglibs</artifactId>
            <version>${org.springsecurity.version}</version>
        </dependency>

        <dependency>
            <groupId>org.springframework.security</groupId>
            <artifactId>spring-security-web</artifactId>
            <version>${org.springsecurity.version}</version>
        </dependency>

        
        <!--spring-3.1.2.RELEASE-->
        <!--spring-3.2.10.RELEASE-->
        <!--spring-3.1.3.RELEASE-->
        <!--spring-4.2.5.RELEASE-->
        <!--aop,asm,aspects,beans,context,context-support,core,expression,jdbc,jms,messaging,orm,oxm,test,transaction,tx,web,webmvc,websocket-->
        <!--(3.1.3):security-cas,security-config,-core,-crypto,-taglibs, -web-->

    </dependencies>


</project>
